<div class="play-mode">
  <app-render></app-render>

  <div class="player">
    <div class="input-area">
      <ng-container *ngComponentOutlet="algorithmInput"></ng-container>
    </div>
    <div class="player-controls">
      <div id="play-btn" *ngIf="paused" class="player-btn" (click)="play()">
        <svg class="icon">
          <use xlink:href="#play-button" />
        </svg>
      </div>
      <div id="pause-btn" *ngIf="!paused" class="player-btn" (click)="pause()">
        <svg class="icon">
          <use xlink:href="#pause-button" />
        </svg>
      </div>
      <div class="speed-slider-container">
        <input type="range" min="0" max="2000" class="speed-slider slider"
          [(ngModel)]="speed" (input)="changeSpeed()">
      </div>
      <div id="speedometer">
        <svg class="icon">
          <use xlink:href="#wheel" />
        </svg>
      </div>
      <div class="back-controls">
        <div class="player-btn" (click)="firstStep()">
          <svg class="icon">
            <use xlink:href="#previous" />
          </svg>
        </div>
        <div class="player-btn" (click)="previousStep()">
          <svg class="icon rewind">
            <use xlink:href="#rewind" />
          </svg>
        </div>
      </div>
      <div class="step-slider-container">
        <label>{{step}}</label>
        <input type="range" min="0" [max]="maxStep" class="step-slider slider"
          [(ngModel)]="step" (input)="changeStep()">
      </div>
      <div class="forward-controls">
        <div class="player-btn" (click)="nextStep()">
          <svg class="icon forward">
            <use xlink:href="#play" />
          </svg>
        </div>
        <div class="player-btn" (click)="lastStep()">
          <svg class="icon">
            <use xlink:href="#next" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>