.body-flex {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.header, .footer {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  color: var(--main-color);
  height: 50px;
  padding: 0 10px;
  width: 100%;
}

.header {
  align-items: last baseline;
  display: flex;
  justify-content: space-between;
}

.footer {
  margin-top: auto;
}

.login-btn, .signup-btn {
  background-color: var(--secondary-bg-color);
  color: var(--main-color);
  cursor: pointer;
}

.main {
  min-width: 500px;
}