a {
  border-left: 2px solid var(--main-bg-color);
  border-bottom: 2px solid var(--main-bg-color);
  color: black;
  font-size: 1.4rem;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
}

.mode-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.selected {
  background-color: var(--main-color);
}