a {
  border-left: 2px solid var(--main-bg-color);
  border-bottom: 2px solid var(--main-bg-color);
  color: black;
  font-size: 1.4rem;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
}

.icon {
  height: 25px;
  width: 25px;
}

.menu-btn {
  cursor: pointer;
  display: inline-block;  
  padding: 10px;
}

.menu-btn.open {
  margin-left: 300px;
}

.mode-nav {
  display: flex;
  justify-content: space-around;
}

.mode-selector {
  position: relative;
}

.selected {
  background-color: var(--main-color);
}

.side-menu {
  background: var(--main-bg-color);
  color: white;
  position: absolute;
  height: 100%;
  width: 300px;
  z-index: 10;
}